.Task {
  width: 20rem;
  position: relative;

  .MuiPaper-rounded {
    border-radius: none !important;
    box-shadow: none !important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(255, 255, 255, 0.75) 90%, rgba(0, 0, 0, 0) 100%);
  }

  .MuiButtonBase-root:hover {

    background: linear-gradient(180deg, rgba($color: silver, $alpha: 100) 0%, rgba($color: silver, $alpha: 0) 100%);


  }

  .MuiExpansionPanelDetails-root {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &::before {
      position: absolute;
      content: "";
      top: -1px;
      height: 1px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }

  }

  .Task__name {
    font-weight: 600;
  }

  .Task__link {
    text-decoration: none;
    text-decoration: underline;
    color: black;
  }

  .Task__description {
    width: 100%;
  }

  &::after {
    content: "";
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    height: 1px;
  }
}