.TasksTemplate {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}