.Summary {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 60rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(255, 255, 255, 0.75) 90%, rgba(0, 0, 0, 0) 100%);

  padding-left: 3%;
  padding-right: 3%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 z-index: 2;
  position: relative;

 @keyframes animateLine {
    0% {
      width: 25%;
    }

    50% {
      width: 105%;
    }

    100% {
      width: 25%;
    }
  }

  &::before {
    position: absolute;
    content: "";
    height: 0.5rem;
    width: 105%;
    background: black;
    animation: animateLine 25s ease-in infinite;
  }

 

  &::after {
    position: absolute;
    content: "";
    height: 0.5rem;
    width: 105%;
    background: black;
    bottom: 0;
    animation: animateLine 5s ease-out infinite;
  }


  .Summary__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0 0rem 0;


  }

  .Summary__description {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
  }



}